<ion-header>
  <ion-toolbar>
    <ion-title>Mai multe detalii</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  
    <ion-card>
        <img src="assets/images/s.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Str.Republicii, nr.15</ion-card-subtitle>
          <ion-card-title>Sensiblu</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Sensiblu este una dintre cele mai mari retele de farmacii din Romania, prezenta in toate localitatile de peste 50.000 de locuitori. Reteaua farmaceutica cuprinde peste 480 de farmacii. Prima farmacie Sensiblu a fost deschisa in 1997 si a adus un concept inovativ in Romania: health and beauty pharmacy.
        </ion-card-content>
      </ion-card>

      <ion-card>
          <img src="assets/images/c.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Str.Lunga, nr.1</ion-card-subtitle>
            <ion-card-title>Catena</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              Brandul Catena a fost creat în 1999, odată cu preluarea, de către Fildas Trading, a pachetului  majoritar de acțiuni al companiei Argeșfarm. Pornind de la 30 de unități, Catena a reușit să ajungă, inca din 2012, cea mai mare și mai apreciată rețea de farmacii din România.          </ion-card-content>
        </ion-card>

        <ion-card>
            <img src="assets/images/h.jpg" />
            <ion-card-header>
              <ion-card-subtitle>Str.Republicii, nr.18</ion-card-subtitle>
              <ion-card-title>Help Net</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Fondate în 1998, Help Net operează unul dintre cele mai mari lanțuri farmaceutice din România și, începand cu aprilie 2018, face parte din grupul german PHOENIX. Help Net este în top 5 lanțuri farmaceutice în România, cu peste 220 de locații deschise la nivel național și o cifră de afaceri de 128 de milioane de euro în 2017.            </ion-card-content>
          </ion-card>
  
  <!-- <ion-button (click)=goBack() fill="outline" color="success"> 
      Back  
  </ion-button> -->
  
  <ion-button (click)=goBack() fill="outline" color="success"> 
      Back  
  </ion-button>
</ion-content>
