<ion-header>
  <ion-toolbar color="success">
        <ion-title top center edge id = "title">
      Find your cure ! 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button (click)="btnClicked()"  id= "button_cauta" > 
    <!-- fill="outline" color="success" -->
  Cauta ! 
</ion-button> 
    <h1>

    </h1>

    <ion-button (click)="btnClicked1()" id = "button_farm" >
        <!-- color="success" -->
        <!-- fill="outline" daca vreau ca butonul sa fie "transparent"  -->
      Farmacii partenere
    </ion-button> 
</ion-content>
